extends layout.pug

block content
  style.
    .lowpadding {
      padding: 2px !important;
      margin: 0 !important;
    }
    .discard-pile {
      width: 133px !important;
      height: 187px !important;
    }

  link(type="text/css", rel="stylesheet", href="/js/card-stack/card-stack.css")
  script(src="/js/card-stack/card-stack.js")

  .container(ng-app="lost-cities-game")
    h3.text-info Game ID# #{game_id}
    span#userId= user_id
    span --
    span#gameId= game_id

    .container(ng-controller="GameCtrl as game")
      .row.text-center
        h4 {{game.playerPhase}}

      #gameboard.row
        .col-md-2.lowpadding(ng-repeat="colorStack in game.colorStacks")
          .panel-group
            .panel(class="{{colorStack.class}}")
              .panel-heading Opponent Cards

            .panel(class="{{colorStack.class}}")
              .panel-body
                .container.discard-pile
                  | {{colorStack.discardPile.length==0? 'empty discard pile' : colorStack.discardPile[colorStack.discardPile.length-1]}}

            .panel.player-cards(class="{{colorStack.class}}")
              .panel-heading Player Cards

        .col-md-2
          .panel.panel-primary
            .panel-body.text-center
              | DECK
              hr
              .row
                .col-md-12 {{game.deck.length}} cards left
              .row
                .col-md-12
                  // TODO: send a draw card request to the game api
                  .btn.btn-primary.btn-block(ng-click="game.drawFromDeck()()") Draw


      #playerhand.row(style="padding-top: 165px")
        div
          ul.fan
            li(ng-repeat="card in game.hand")
              .flip
                .card
                  .face.front(class="{{card.color}}", data-color="{{card.color}}", data-number="{{card.number}}" ng-mouseover="game.initDragDrop()") {{card.number}}
                  .face.back Back
