div
  a.btn.btn-primary(ng-click='profile.createGame()') Create Game
  a.btn.btn-primary(href='/profile/#/join') Join Game
  a.btn.btn-primary(href='/dashboard', id='dashboardButton') Dashboard

p lul